.taskpage{
    display: float;
    margin: 50px;
}
.tablebtn{
    background-color: white;
}
.table0{
    margin-left: 520px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    border: 2px solid black;
}
.select{
    width: 200px;
    margin-left:540px ;
    margin-top:20px;
    margin-bottom:20px;
}
.highlighter{
    color: red;
}